// Variable overrides
$sans-serif: -apple-system, BlinkMacSystemFont, 'Roboto', 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, noto, 'segoe ui', arial, sans-serif;

// Library imports
@import '_material.scss';
@import '_tachyons.scss';

// Any further utility classes and extensions
.chakra-petch {
	font-family: 'Chakra Petch', $sans-serif;
}

a {
	@extend .link, .underline-hover;
	// Fixes transition on links with .grow
	&.grow {
		transition: all 0.15s;
	}
}
