// Library imports
@import '_google_fonts.scss';
@import '_tachyons.scss';
@import '_colors.scss';

// Native smooth scrolling for #work, #contact, etc.
html {
	scroll-behavior: smooth;
}

a {
	@extend .color-inherit, .dim;
	// Fixes transition on links with .grow
	&.grow {
		transition: all 0.15s;
	}
}

.icon {
	vertical-align: sub;
	width: 25px;
	padding-right: 3px;
}
