<footer class="i f6">
	<hr>
	<p class="mb0">
		Last updated on
		<time datetime="<%= DateTime.now %>">
			<%= DateTime.now.strftime('%b. %d, %Y') %>.
		</time>
		<br/>
		This site (and many like it) is open-source on <%= link_to('GitHub', data.global.source) %>.
		<br/>
		Have a nice <span id="day">day</span>.
	</p>
</footer>
